@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #fafafa;
  }
}
#home{
  background-image:url('/images/hero/hero.5aa2f4fae28fcf3dc01a.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.search-icon-wr {
  width: 40px;
  height: 40px;
  background-image: url('/images/hero/search-icon.d2c326c49a7b08793441.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: background-color .3s ease;
}
.close-icon{
  width: 40px;
  height: 40px;
  background-image: url('/images/hero/close.3ac507e7c24f6e258055.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: background-color .3s ease;
}
.cc-wrapper{
  width: 100%;
  height: 40px;
  background-image: url('/images/footer/cc.a3dbd4b91c2b356721a5.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 250px;
}
.VietNam-visa-emblem {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-color: #fff;
  background-image: url(/images/footer/dubai-visa-emblem.2aa6bf8dd1f2259debfb.png);
  background-position: 100% 100%;
  background-size: cover;
  box-shadow: 0 3px 5px -2px rgba(0,0,0,.5);
}
.emblem-wr {
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0;
    border-top: 2px solid #c900fa;
    background-color: transparent;
}

.VietNam-time {
  position: relative;
  left: auto;
  right: auto;
  display: flex;
  width: 300px;
  height: 60px;
  margin: 0 auto -30px;
  justify-content: center;
  align-items: center;
  border: 2px solid #c900fa;
  border-radius: 50px;
  background-color: #fff;
  background-image: url('/images/footer/clock-icon.71394ced1664e54940d7.svg');
  background-position: 7% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}
.cta-wr {
  height: 350px;
  justify-content: center;
  flex-wrap: nowrap;
  border-top: 2px solid #c900fa;
  background-color: #fff;
}
.bp-container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  flex: 1;
}
.banner-h1, .banner-h2 {
  margin-bottom: 0;
  color: #fff;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.default-content-line {
  width: 200px;
  height: 4px;
  margin-top: 40px;
  background-color: #ca00fa;
}
.bp-btn.btn-emergency {
  display: none;
  margin-top: 20px;
  border: 2px solid #fff;
  background-color: #d62bff;
  text-transform: none;
}
.active {
  background-color: #efefef;
}
.accordion, .accordion_active {
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: .4s;
  border: none;
  border-bottom: 1px solid #eee;
}
.accordion:hover {
  background-color: #efefef;
}
.active:after {
  content: "\2212";
  color: #b000da;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}
.accordion:after {
  content: "\002B";
  color: #b000da;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}
.panel_on {
  box-shadow: 0 3px 3px -4px rgba(0,0,0,.5);
  margin-bottom: 10px;
  width: 100%;
  transition: .4s;
  font-size: 14px;
  font-style: italic;
}
.faq-answer{
  padding: 20px;
}
.panel {
  font-size: 14px;
    font-style: italic;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  transition: .4s;
}

.banner-h1 {
  margin-top: 0;
  font-size: 40px;
  line-height: 45px;
}
.cta-sub-wr {
  height: 200px;
  max-width: 1200px;
  justify-content: space-between;
}
.cta-sub-wr, .cta-wr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bp-h1.black {
  margin-top: 0;
  font-size: 24px;
}
.cta-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bp-h1, .bp-h1.black {
  color: #000;
  line-height: 30px;
}
.bp-h1 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bp-h1.bp-h1-pink, .bp-h1.pink {
  color: #c900fa;
}
.bp-h1.pink {
  text-align: center;
}
.btn-cta {
  background-color: #c900fa;
}

.bp-btn.bp-btn-pink.btn-cta {
  margin-top: 20px;
  background-color: #c900fa;
  transition: background-color .3s ease;
}
.bp-btn.bp-btn-pink.bp-btn-apply {
  background-position: 89% 50%;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  box-shadow: 0 3px 30px 6px rgba(0,0,0,.1);
  transition: background-color .2s ease;
}
.bp-h1.bp-h1-grey {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;
  color: #5c5c5c;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.card-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-line {
  width: 50%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #c900fa;
}
.card-header {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.card-para {
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  color: #353535;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
.bp-text.bp-text-centered {
  color: #5c5c5c;
  font-weight: 400;
  text-align: center;
}
.default-h1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bbb;
  color: #1d68e9;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}
.paragraph {
  color: #000;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 10px;
}
input.ng-invalid.ng-touched {
  border-width: 2px;
  border-color: #ca00fa;
  box-shadow: 0 2px 10px -3px #dc4bff;
}
.input-field.input-email {
  background-image: url(/images/contact/email-2.594a86e569f3bb364788.svg);
  background-position: 1% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.input-field.input-email:focus {
  border-color: #d1d1d1;
}
.input-field:focus {
  box-shadow: 0 1px 5px -1px rgba(220,75,255,.65);
}

.w-input:focus, .w-select:focus {
  border-color: #3898ec;
  outline: 0;
}
.input-field {
  height: 65px;
  margin-bottom: 10px;
  padding-left: 50px;
  border: 0 solid #000;
  background-position: 96% 50%;
  background-size: 7px;
  background-repeat: no-repeat;
  box-shadow: -1px 6px 4px -6px rgba(0,0,0,.5);
  font-size: 14px;
  font-weight: 400;
  outline-style: none;
}
.w-input, .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
.checkbox-container {
  display: flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
input[type=checkbox]+label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #c900fa;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all .12s,border-color .08s;
}
input[type=checkbox]+label:last-child {
  margin-bottom: 0;
}
input[type=checkbox]+label {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 400;
  color: #3b3b3b;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type=checkbox]:checked+label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
