@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #fafafa;
  }
}
#home{
  background-image:url('/images/hero/hero.5aa2f4fae28fcf3dc01a.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.search-icon-wr {
  width: 40px;
  height: 40px;
  background-image: url('/images/hero/search-icon.d2c326c49a7b08793441.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: background-color .3s ease;
}
.close-icon{
  width: 40px;
  height: 40px;
  background-image: url('/images/hero/close.3ac507e7c24f6e258055.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: background-color .3s ease;
}
.cc-wrapper{
  width: 100%;
  height: 40px;
  background-image: url('/images/footer/cc.a3dbd4b91c2b356721a5.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 250px;
}
.VietNam-visa-emblem {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-color: #fff;
  background-image: url(/images/footer/dubai-visa-emblem.2aa6bf8dd1f2259debfb.png);
  background-position: 100% 100%;
  background-size: cover;
  box-shadow: 0 3px 5px -2px rgba(0,0,0,.5);
}
.emblem-wr {
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0;
    border-top: 2px solid #c900fa;
    background-color: transparent;
}

.VietNam-time {
  position: relative;
  left: auto;
  right: auto;
  display: flex;
  width: 300px;
  height: 60px;
  margin: 0 auto -30px;
  justify-content: center;
  align-items: center;
  border: 2px solid #c900fa;
  border-radius: 50px;
  background-color: #fff;
  background-image: url('/images/footer/clock-icon.71394ced1664e54940d7.svg');
  background-position: 7% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}
.cta-wr {
  height: 350px;
  justify-content: center;
  flex-wrap: nowrap;
  border-top: 2px solid #c900fa;
  background-color: #fff;
}
.bp-container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  flex: 1;
}
.banner-h1, .banner-h2 {
  margin-bottom: 0;
  color: #fff;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.default-content-line {
  width: 200px;
  height: 4px;
  margin-top: 40px;
  background-color: #ca00fa;
}
.bp-btn.btn-emergency {
  display: none;
  margin-top: 20px;
  border: 2px solid #fff;
  background-color: #d62bff;
  text-transform: none;
}
.active {
  background-color: #efefef;
}
.accordion, .accordion_active {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: .4s;
  border: none;
  border-bottom: 1px solid #eee;
}
.accordion:hover {
  background-color: #efefef;
}
.active:after {
  content: "\2212";
  color: #b000da;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}
.accordion:after {
  content: "\002B";
  color: #b000da;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}
.panel_on {
  box-shadow: 0 3px 3px -4px rgba(0,0,0,.5);
  margin-bottom: 10px;
  width: 100%;
  transition: .4s;
  font-size: 14px;
  font-style: italic;
}
.faq-answer{
  padding: 20px;
  word-break: break-all;
}
.panel {
  font-size: 14px;
    font-style: italic;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  transition: .4s;
}

.banner-h1 {
  margin-top: 0;
  font-size: 40px;
  line-height: 45px;
}
.cta-sub-wr {
  height: 200px;
  max-width: 1200px;
  justify-content: space-between;
}
.cta-sub-wr, .cta-wr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bp-h1.black {
  margin-top: 0;
  font-size: 24px;
}
.cta-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bp-h1, .bp-h1.black {
  line-height: 30px;
}
.bp-h1 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bp-h1.bp-h1-pink, .bp-h1.pink {
  color: #c900fa;
}
.bp-h1.pink {
  text-align: center;
}
.btn-cta {
  background-color: #c900fa;
}

.bp-btn.bp-btn-pink.btn-cta {
  margin-top: 20px;
  background-color: #c900fa;
  transition: background-color .3s ease;
}
.bp-btn.bp-btn-pink.bp-btn-apply {
  background-position: 89% 50%;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  box-shadow: 0 3px 30px 6px rgba(0,0,0,.1);
  transition: background-color .2s ease;
}
.bp-h1.bp-h1-grey {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;
  color: #5c5c5c;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.card-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-line {
  width: 50%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #c900fa;
}
.card-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.card-para {
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
.bp-text.bp-text-centered {
  color: #5c5c5c;
  font-weight: 400;
  text-align: center;
}
.default-h1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bbb;
  color: #1d68e9;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}
.paragraph {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 10px;
}
input.ng-invalid.ng-touched {
  border-width: 2px;
  border-color: #ca00fa;
  box-shadow: 0 2px 10px -3px #dc4bff;
}
.input-field.input-email {
  background-image: url(/images/contact/email-2.594a86e569f3bb364788.svg);
  background-position: 2% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.input-field.input-email:focus {
  border-color: #d1d1d1;
}
.input-field:focus {
  box-shadow: 0 1px 5px -1px rgba(220,75,255,.65);
}

.w-input:focus, .w-select:focus {
  border-color: #3898ec;
  outline: 0;
}
.input-field {
  height: 65px;
  margin-bottom: 10px;
  padding-left: 50px;
  border: 0 solid #000;
  background-position: 96% 50%;
  background-size: 7px;
  background-repeat: no-repeat;
  box-shadow: -1px 6px 4px -6px rgba(0,0,0,.5);
  font-size: 14px;
  font-weight: 400;
  outline-style: none;
}
.w-input, .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
.checkbox-container {
  display: flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
input[type=checkbox]+.label_visited:before,input[type=checkbox]+.label_disclamer_1:before,input[type=checkbox]+.label_disclamer_2:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #c900fa;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all .12s,border-color .08s;
}
input[type=checkbox]+label:last-child {
  /* margin-bottom: 0; */
}
input[type=checkbox]+label {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type=checkbox]:checked+label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
.step-indicator {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.step-indicator .step-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #c2c2c2;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  font-size: 20px;
}

.step.active_bar .step-icon {
  background: #c900fa;
}

.step p {
  text-align: center;
  position: absolute;
  bottom: -40px;
  color: #c2c2c2;
  font-size: 14px;
  font-weight: bold;
}

.step.active_bar p {
  color: #c900fa;
}

.step.step2 p,
.step.step3.step4.step5 p {
  left: 50%;
  transform: translateX(-50%);
}

.indicator-line {
  width: 100%;
  height: 2px;
  background: #c2c2c2;
  flex: 1;
}

.indicator-line.active_bar {
  background: #c900fa;
}

@media screen and (max-width: 500px) {
  .step p {
    font-size: 11px;
    bottom: -20px;
  }
}
@media screen and (max-width: 375px) {
  .step-indicator .step-icon {
    height: 40px;
    width: 40px;
    line-height: 42px;
    font-size: 18px;
  }
  .app-modal-body-header,.app-modal-card-wr,.input-group {
    flex-direction: column !important;
  }
  .input-container-right{
    padding: 0 !important;
  }

  .app-column-header.justified-left {
    margin-right: 0 !important;
}
.app-modal-column-group {
  flex-direction:column;
  justify-content: center;
}
.extra-services-wr{
  flex-direction:column !important;
}
}
.app-card {
  display: flex;
  width: 100%;
  height: 170px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 25px 10px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 30px 0 rgba(0,0,0,.05);
  transition: all .3s ease;
  text-decoration: none;
  outline: none;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}
input[type=radio] {
  display: none;
}

input[type=checkbox], input[type=radio],input[type=file] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}
input {
  line-height: normal;
}
input[type=radio]+label:before {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #006eff;
  box-shadow: inset 0 0 0 18px #d3d3d3;
}
input[type=radio]+label:after, input[type=radio]+label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: all .3s ease;
}
input[type=radio]+label {
  position: relative;
  cursor: pointer;
  margin: 20px;
  padding-left: 40px;
  padding-top: 3px;
  font-weight: 400;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
input[type=radio]:checked+label:before {
  box-shadow: inset 0 0 0 3px #d3d3d3;
}

input[type=radio]+label:before {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #006eff;
  box-shadow: inset 0 0 0 18px #d3d3d3;
}
input[type=radio]+label:after, input[type=radio]+label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: all .3s ease;
}
input[type=radio]:checked+label:after {
  transform: translate(-50%,-50%) scale(1);
}
.search-results-control {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 5px 5px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 4px -5px #000;
  border-radius: 10px;
}
.currency-switcher-wr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-default, .switcher {
  cursor: pointer;
  font-weight: 400;
  user-select: none;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.currency-default {
  -ms-user-select: none;
  padding-right: 16px;
  padding-top: 5px;
}
.switcher {
  position: relative;
  display: inline-block;
  padding-left: 100px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
}
.currency-default, .switcher {
  cursor: pointer;
  font-weight: 400;
  user-select: none;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.switcher__indicator:before {
  top: 16px;
  width: 80px;
  height: 8px;
  border-radius: 10px;
}
.switcher__indicator:after, .switcher__indicator:before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #006eff;
  transition: all .3s ease;
}
.switcher__indicator:after, .switcher__indicator:before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #006eff;
  transition: all .3s ease;
}
.switcher__indicator:after {
  top: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-animation-name: pulsein;
  animation-name: pulsein;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}
input:checked+.switcher__indicator:after {
  background-color: #006eff;
  transform: translateX(40px);
  -webkit-animation-name: pulseout;
  animation-name: pulseout;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}
.visa-packages-wr {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.card-wr {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  height: 400px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 40px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 40px 5px rgba(0,0,0,.05);
  text-decoration: none;
}
.product-name, .product-type {
  margin-top: 0;
  font-weight: 400;
}

.product-name {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 36px;
  text-transform: capitalize;
}
.product-type {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.product-name, .product-type {
  margin-top: 0;
  font-weight: 400;
}
.product-price {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  color: #434343;
  font-size: 50px;
  font-weight: 400;
}
.product-price-wr {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: flex-start;
}
.currency {
  color: #dc4bff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-para {
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}
.bp-btn.bp-btn-pink.btn-proceed {
  margin-top: 30px;
  background-color: #c900fa;
  background-image: url(/images/contact/arrow-right.59c2c49844c81c3e1adb.svg);
  background-position: 92% 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  transition: background-color .3s ease;
  border: 2px solid #9302b6;
}

.bp-btn.bp-btn-pink {
  background-color: #dc4bff;
}
.bp-btn {
  outline: none;
  display: flex;
  width: 200px;
  height: 50px;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 400;
  text-transform: uppercase;
}
.w-button {
  display: inline-block;
  padding: 12px 60px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}
.ng-scroll-content {
  position: relative!important;
  display: inline-block;
  min-width: 100%;
}
.modal-app-list {
  display: flex;
  width: 100%;
  margin-top: 39px;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 0 auto;
}
.modal-card, .start-modal-footer {
  display: flex;
  justify-content: center;
}
.modal-card {
  height: 260px;
  padding: 30px 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 30px 0 rgba(0,0,0,.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.card-icon-modal.details {
  background-image: url(/images/contact/details.2b3125637e69bdc33d36.svg);
  background-position: 50% 50%;
  background-size: contain;
}
.card-icon-modal.national-id {
  margin-bottom: 0;
  background-image: url(/images/contact/id.e5db71fc6eb3e552ee8a.svg);
  background-position: 50% 50%;
  background-size: contain;
}
.card-header.card-sm-h {
  font-size: 13px;
  line-height: 17px;
}

.card-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.card-line.modal-line {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-line {
  width: 50%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #c900fa;
}
.modal-disclamer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}
.header-left.header-left-margin {
  margin-bottom: 20px;
  font-weight: 400;
}
.header-left {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
.checkbox-container {
  display: flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.app-modal-body-wr.app-modal-upload-wr {
  justify-content: space-between;
  flex: 1;
}
.app-modal-body-wr {
  height: auto;
  padding-right: 0;
  padding-left: 0;
}

.app-modal-body-wr, .app-modal-header-wr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
}
.app-modal-body, .app-modal-body-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.app-modal-body-header {
  justify-content: space-between;
  flex-direction: row;
}
.modal-applicant-header {
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 0;
}
.header-left {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
.edit-modal-header, .modal-applicant-header {
  margin-top: 0;
  margin-bottom: 0;
  color: #c900fa;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.order-total {
  font-size: 20px;
  font-weight: 600;
}
.app-modal-body {
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
}

.app-modal-body, .app-modal-body-header {
  display: flex;
  width: 100%;
  align-items: center;
}
.app-modal-info {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}
.pink-text {
  color: #c900fa;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.app-modal-card-wr {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
}

/* .w-inline-block {
  max-width: 100%;
  display: inline-block;
} */
.app-card-footer {
  display: flex;
  width: 100%;
  height: 30px;
  margin-bottom: -12px;
  justify-content: space-between;
  align-items: center;
  color: #5c5c5c;
  font-size: 12px;
  text-decoration: none;
}
.file-control-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url(/images/contact/file-upload.ba9d0beffc006bf5dff8.svg);
  background-position: 50% 50%;
  background-size: 15px;
  background-repeat: no-repeat;
}
.card-icon-modal.person {
  background-image: url(/images/contact/person-2.767b71e1f91edde474d6.svg);
  border-radius: 50%;
  background-size: cover;
}
.app-modal-form-wr {
  width: 100%;
  padding-top: 40px;
}
.input-group {
  display: flex;
  flex-direction: row;
}
.input-container {
  position: static;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.input-container-right {
  display: block;
  padding-left: 10px;
  flex: 1;
}
.app-modal-column-group {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  flex: 0 0 auto;
}
.app-modal-column {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.app-column-header.justified-left {
  margin-right: auto;
}

.app-column-header {
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}
.select-visa-dropdown {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #c900fa;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.5);
  transition: background-color .3s ease;
}

.w-dropdown, .w-dropdown-btn, .w-dropdown-link, .w-dropdown-toggle {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.w-dropdown {
  display: inline-block;
  z-index: 900;
}
.select-visa-toggle {
  display: flex;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  font-weight: 300;
}
.w-dropdown-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}
.w-dropdown-btn, .w-dropdown-link, .w-dropdown-toggle {
  vertical-align: top;
  text-decoration: none;
  color: #222;
  padding: 20px;
  white-space: nowrap;
}
.w-icon-dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 20px auto auto;
  width: 1em;
  height: 1em;
  transition: all .4s ease;
}
[class*=" w-icon-"], [class^=w-icon-] {
  font-family: webflow-icons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.w-icon-arrow-down:before, .w-icon-dropdown-toggle:before {
  content: "\e603";
}
.w-dropdown-list {
  position: absolute;
  background: #ddd;
  display: none;
  min-width: 100%;
}
.select-visa-link {
  padding: 15px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  white-space: pre-wrap;
  font-size: 12px;
}
.w-dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222;
}
.card-icon-modal.add-applicant {
  background-image: url(/images/contact/add-applicant.ca816a4f2345bc00512c.svg);
  background-position: 50% 50%;
  background-size: contain;
}
.card-icon-modal {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-bottom: 0;
  background-image: url(/images/contact/passport.cc0dc9e3f0c8c4b27671.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.applicants-avatars {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 10px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 0 auto;
}
.edit-applicant-card {
  cursor: pointer;
  display: flex;
  width: 150px;
  height: 150px;
  margin: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 1px 20px 0 rgba(0,0,0,.05);
  transition: all .3s ease-in-out;
  text-decoration: none;
}
.applicant-avatar {
  width: 65px;
  height: 65px;
  border: 2px solid #ca00fa;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
}
.applicant-avatar-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
}
.app-modal-column.app-modal-column-checkout.alternative-column {
  padding-bottom: 30px;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.app-modal-column.app-modal-column-checkout {
  height: 100%;
}
.app-modal-column {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.app-column-header.no-margin {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 25px;
}
.app-column-header {
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}
.table-container {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 10px;
}
.flex-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.table-header {
  flex: 1;
  color: #c900fa;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.table-header.table-header-middle {
  text-align: center;
}
.table-header.table-header-right {
  flex: 0 0 auto;
}
.table-text-left {
  flex: 1;
  font-size: 15px;
  text-align: left;
}
.dotted-line {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  background: #dc4bff;
}
.extra-services-wr {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  flex-direction: row;
}
.extra-service-card {
  cursor: pointer;
  display: flex;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 2px -2px #000;
  transition: all .1s ease;
  text-decoration: none;
}
.extra-service-card-header {
  height: 25px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.extra-service-card-header, .input-container-coupon {
  display: flex;
  align-items: center;
}
.card-service-icon {
  width: 25px;
  height: 25px;
  background-image: url(/images/contact/express-off.3128fe54cf280a66fddb.svg);
  background-position: 0 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
/* .card-service-icon.express-off {
  width: 25px;
  height: 25px;
  background-image: url(/images/contact/express-off.3128fe54cf280a66fddb.svg);
  background-position: 0 50%;
  background-size: contain;
  background-repeat: no-repeat;
} */
.card-service-icon.chauffeur-off {
  background-image: url(/images/contact/chauffeur-off.59ef2edda28f8d103980.svg);
  background-position: 50% 50%;
  background-size: contain;
}
.card-service-icon.travel-insurance-off {
  background-image: url(/images/contact/travel-insurance-off.578265be3d45a1bee880.svg);
  background-position: 50% 50%;
  background-size: contain;
}
/* .apply-code-btn {
  display: flex;
  width: 45px;
  height: 45px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url(/images/contact/search-icon.d2c326c49a7b08793441.svg);
  background-position: 50% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  transition: background-color .3s ease;
  color: #c900fa;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
} */
.app-modal-footer {
  display: flex;
  width: 100%;
  height: auto;
  padding: 40px 20px;
  justify-content: center;
  flex: 0 0 auto;
}
.input-field.input-contact {
  background-image: url(/images/contact/contact.fcdf7d858c5c6e78c933.svg);
  background-position: 3% 50%;
  background-size: 20px,7px;
  background-repeat: no-repeat,no-repeat;
}
.input-field.input-person {
  background-image: url(/images/contact/user.7e61301bb42f00bcf425.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.input-field.input-nationality {
  background-image: url(/images/contact/flag.ec610d18d58d262680b1.svg);
  background-position: 3% 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}
.input-field.input-passport {
  background-image: url(/images/contact/passport.cc0dc9e3f0c8c4b27671.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.input-field.input-calendar {
  background-image: url(/images/contact/calendar.9a6a4a804cc0dd23a1f7.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.input-field.input-country {
  background-image: url(/images/contact/earth.e3f93dadb60ef904e783.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.input-field.input-work {
  background-image: url(/images/contact/work.3970d5f95b043e264a39.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.input-field.input-bag {
  background-image: url(/images/contact/bag.5e940f1ddca17668ed48.svg);
  background-position: 3% 50%;
  background-size: 20px;
}
.card-service-icon.express-on {
  background-image: url(/images/contact/epress-on.103eff44d68241c9f706.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.card-service-icon.chauffeur-on {
  background-image: url(/images/contact/chauffeur-on.cc759902ca43a94fc810.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.card-service-icon.travel-insurance-on {
  background-image: url(/images/contact/travel-insurance-on.67334bf4710fcdc64c65.svg);
  background-position: 3% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.extra-services-wr input[type=checkbox]:checked+.extra-service-card:before {
  background-color: #bf32e0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  /* height: 20px; */
  border: 0px solid #bf32e0;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0;
  transform:none
}
.extra-service-card:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  /* height: 20px; */
  border: 0px solid #c900fa;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0;
}
@media (min-width: 640px) {
  table {
    display: inline-table !important;
    border-radius: 5px;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 0px solid rgba(0, 0, 0, .1);
}
@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
